
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}



:root {
  --primary: #DB2777;
  --primary-lighter:#f9a8d4;
}

html,
body {
  /*margin: 0 !important;*/
  /*padding: 0 !important;*/
}

body {
  background:white;
}

ul {
  padding-left: 0;
  margin: 0;
}

li {
  position: relative;
}

/* по умолчанию (в т.ч. Firefox) — обычный инпут */
input[type='date']{
  position: static;
  width: auto;
  height: auto;
  opacity: 1;
}

@layer base {
  body {
    line-height: initial !important;
  }
  ol,
  ul,
  menu {
    list-style: inherit;
  }
  :focus-visible {
    outline: inherit;
  }

  .custom-template ul li {
    position: relative;
    display: list-item;
  }

  .custom-template ul li::marker {
    z-index: -1;
    color: transparent !important;
    font-size: 0;
  }
  .custom-template ul li::before {
    content: ""; /* или другой символ */
    width: 6px;
    height: 6px;
    /*position: absolute;*/
    /*top: 7px;*/
    /*left: 0;*/
    display: inline-block;
    margin-right: 10px;
    border-radius: 100%;
    background-color: var(--primary);
  }

}


.material-icons {
  width: 1em;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

